.panel {
	position: absolute;

	width: 110px;

	z-index: 1;

	background-color: white;
	border: 2px solid grey;

	display: none;
}

.panel > button {
	width: 105px;
	margin-left: 2.5px;
}

.canvas {
	position: absolute;
	border: 2px solid black;
	margin-top: 10px;
}

body {
	position: absolute;
}